{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;课程改革&nbsp;>&nbsp;改革课程
				</div>
				<div class="inside_box">
					<div class="sidemenu fl">
						<div class="s_title">课程改革</div>
						<ul>
							<li><a href="course.html">课改介绍</a></li>
							<li class="on"><a href="course1.html">改革课程</a></li>
						</ul>
					</div>
					<div class="ic_wrap fr">
						<ul class="news_list">
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
							<li><a href="tcDetail.html">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a></li>
						</ul>
						<!--分页-->
						<div class="record">
	                        <span class="prev"><a href="">上一页</a></span>
	                        <span class="word"><a href="">1</a></span>
	                        <span class="word"><a href="">2</a></span>
	                        <span class="word"><a href="">3</a></span>
	                        <span class="word"><a href="">4</a></span>
	                        <span class="word"><a href="">5</a></span>
	                        <span class="word"><a href="">6</a></span>
	                        <span class="next"><a href="">下一页</a></span>
	                        <span class="sum">共6页</span>
	                    </div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
{include file="public/footer"}
