{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;考试必备&nbsp;>&nbsp;考试安排
				</div>
				<div class="inside_box">
					<div class="sidemenu fl">
						<div class="s_title">考试必备</div>
						<ul>
							<li class="on"><a href="exam.html">考试安排</a></li>
						</ul>
					</div>
					<div class="ic_wrap fr">
						<h3 class="e_title">标题名称标题名称标题名称</h3>
						<p>考试时间：2016年06月17日（星期五）    上午10:00 - 12:00</p>
						<p>考试地点：xx教学楼xx室</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
{include file="public/footer"}
