{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;考试必备&nbsp;>&nbsp;考试安排
				</div>
				<div class="inside_box">
					<div class="sidemenu fl">
						<div class="s_title">考试必备</div>
						<ul>
							<li class="on"><a href="exam.html">考试安排</a></li>
						</ul>
					</div>
					<div class="ic_wrap fr">
						<ul class="news_list">
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
							<li><a href="eDetail.html">课程名称课程名称课程名称课程名称</a></li>
						</ul>
						<!--分页-->
						<div class="record">
	                        <span class="prev"><a href="">上一页</a></span>
	                        <span class="word"><a href="">1</a></span>
	                        <span class="word"><a href="">2</a></span>
	                        <span class="word"><a href="">3</a></span>
	                        <span class="word"><a href="">4</a></span>
	                        <span class="word"><a href="">5</a></span>
	                        <span class="word"><a href="">6</a></span>
	                        <span class="next"><a href="">下一页</a></span>
	                        <span class="sum">共6页</span>
	                    </div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
{include file="public/footer"}