{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;用户相关>&nbsp;个人中心
				</div>
				<div class="inside_box">
					<div class="personal_wrap">
						<div class="personal_info">
							<div class="p_img"><img src="images/favicon.jpg"/></div>
							<b>用户名称</b>
						</div>
						<div class="tl_list">
							<h2>相关主题</h2>
							<ul>
								<li>
									<a href="tDetail.html#reply" class="reply">10回复</a>
									<div class="t_con">
										<h3><a href="tDetail.html">话题标题话题标题话题标题话题标题话题标题话题标题话题标题</a><span class="addressor">发布者：名称&nbsp;&nbsp;&nbsp;发布日期：2016-06-17&nbsp;&nbsp;&nbsp;</span></h3>
										<p>话题内容话题内容话题内容话题内容话，题内容话题内容话题内容话题内容，话题内容话题内容话题内容话题内容话题，内容话题内容话题内容话题内容话题内容话。题内容话题内容话题内容话题内容话题内容...</p>
									</div>
								</li>
								<li>
									<a href="tDetail.html#reply" class="reply">10回复</a>
									<div class="t_con">
										<h3><a href="tDetail.html">话题标题话题标题话题标题话题标题话题标题话题标题话题标题</a><span class="addressor">发布者：名称&nbsp;&nbsp;&nbsp;发布日期：2016-06-17&nbsp;&nbsp;&nbsp;</span></h3>
										<p>话题内容话题内容话题内容话题内容话，题内容话题内容话题内容话题内容，话题内容话题内容话题内容话题内容话题，内容话题内容话题内容话题内容话题内容话。题内容话题内容话题内容话题内容话题内容...</p>
									</div>
								</li>
								<li>
									<a href="tDetail.html#reply" class="reply">10回复</a>
									<div class="t_con">
										<h3><a href="tDetail.html">话题标题话题标题话题标题话题标题话题标题话题标题话题标题</a><span class="addressor">发布者：名称&nbsp;&nbsp;&nbsp;发布日期：2016-06-17&nbsp;&nbsp;&nbsp;</span></h3>
										<p>话题内容话题内容话题内容话题内容话，题内容话题内容话题内容话题内容，话题内容话题内容话题内容话题内容话题，内容话题内容话题内容话题内容话题内容话。题内容话题内容话题内容话题内容话题内容...</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
{include file="public/footer"}
