{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;密码找回
				</div>
				<div class="register_box">
					<div class="tc_login">
						<div class="login_register fl">
							<form method="POST" name="form_register" target="_top">
								<div align="center">
									<h3>请填入您的邮箱进行密码找回</h3>
									<span class="error">提示信息</span>
									<i class="icon-mobile-phone"></i>
									<input type="email" name="email" id="emial" required="required" placeholder="请输入邮箱(方便找回密码)" autocomplete="off" class="input_el">
									<div class="authcode">
										<input type="text" name="code" id="code" required="required" placeholder="请输入验证码" autocomplete="off" class="input_yz fl">
										<div class="code fr">验证码</div>
										<div class="clear"></div>
									</div>
									
								</div>
								<div align="center">
									<input type="submit" class="button" title="Sign In" value="发送验证邮箱">
								</div>
							</form>
						</div>
						<div class="l_img fl">
							<img src="images/sj.jpg"/>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
{include file="public/footer"}