{include file="public/header"}
		<!--inside content start-->
		<div class="inside_wrap">
			<div class="inside_con">
				<div class="adr">
					<a href="index.html">首页</a>&nbsp;>&nbsp;教学资源>&nbsp;教学视频
				</div>
				<div class="inside_box">
					<div class="sidemenu fl">
						<div class="s_title">教学资源</div>
						<ul>
							<li><a href="resource.html">文献资料</a></li>
							<li><a href="resource.html">学习资料</a></li>
							<li class="on"><a href="resource1.html">教学视频</a></li>
						</ul>
					</div>
					<div class="ic_wrap fr">
						<h2>视频</h2>
						<img src="images/v1.jpg" style="width: 100%; height: auto;" />
						<p style="font-weight: bold;">有下载功能</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!--footer start-->
		<div class="footer_wrap">
			<div class="line"></div>
			<div class="footer">
				<p>版权所有：陕西师范大学基础教育语文研究中心</p>
				<p>电话：029-8888888&nbsp;&nbsp;&nbsp;邮箱：XXXXXXXX@163.com</p>
				<p>地址：陕西省西安市XXXXXXXXX  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
				<img src="images/er.png" class="er" />
			</div>
		</div>
		<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
		<script src="js/jquery.SuperSlide.2.1.js" type="text/javascript"></script>
		<script src="js/common.js"></script>
	</body>
</html>
