<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
	<!--/meta 作为公共模版分离出去-->
	{include file="public/header"}
	<!--/_header 作为公共模版分离出去-->

	<!--_menu 作为公共模版分离出去-->
	{include file="public/menu"}
	<!--/_menu 作为公共模版分离出去-->


<section class="Hui-article-box">
	<div class="containBox"> 
	 
	<div class="wap-container">
		 
		<nav class="breadcrumb">
			<div class="container">
				<i class="Hui-iconfont">&#xe67f;</i>
				<a href="/" class="c-primary">首页</a>
				<span class="c-gray en">&gt;</span>
				<a href="#">栏目管理</a>
				<span class="c-gray en">&gt;</span>
				<span class="c-gray">栏目添加</span>
			</div>
		</nav>
		<div class="container ui-sortable">
			<h1>栏目添加</h1>
			<div class="panel panel-default">
				<!-- <div class="panel-header clearfix">
					<span class="f-l">左侧标题</span>
					<span class="f-r">右侧标题</span>
				</div> -->
				<div class="panel-body">
					<form action="" method="post" id="addcolumn">
					<table class="table table-border table-bordered ">
      					 <tbody>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 添加方式：</th>
            <td style="">
				<div class="formControls col-xs-3">
					<div class="mt-20 skin-minimal">
						<div class="radio-box">
							<input type="radio" id="radio-1" name="demo-radio1" checked>
							<label for="radio-1">单条添加</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="radio-2" name="demo-radio1">
							<label for="radio-2">批量添加</label>
						</div>
					</div>
				</div>
			</td>
          </tr>
		<tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 请选择模型：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-4" style="width: 250px">
				<span class="select-box" style="width:160px">
  			<select class="select" size="1" name="model" style="border:0px solid red;width:150px">
    			<option value="" selected>请选择模型</option>
    			<option value="1">模型一</option>
    			<option value="2">模型二</option>
    			<option value="3">模型三</option>
  			</select>
			</span>
  			</select>
				</div>
            </td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span>上级栏目：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-4">
				<span class="select-box" style="width:160px">
  			<select class="select" size="1" name="supertemp" style="border:0px solid red;width:150px">
    			<option value="" selected>作为一级栏目</option>
    			<option value="1">模型一</option>
    			<option value="2">模型二</option>
    			<option value="3">模型三</option>
  			</select>
			</span>
  			</select>
				</div>
            </td>
          </tr>
          <tr>
            <th width="100" class="text-r"><span class="c-red">*</span> 栏目名：</th>
            <td>
				<div class="formControls col-sm-4" style="width: 220px">
				<input type="text" style="width:200px" class="input-text" value="" placeholder="" id="source" name="name">
				</div>
			</td>
          </tr>
          
          <tr>
            <th class="text-r"><span class="c-red">*</span> 英文栏目名：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-5" style="width: 320px">
				<input type="text" style="width:300px" class="input-text" value="" placeholder="" id="engname" name="engname">
				</div>
			</td>
          </tr>
          
          <tr>
            <th class="text-r">内容图片：</th>
            <td>
				<span class="btn-upload form-group" style="margin-left: 15px;">
  <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly><a class="btn btn-primary radius"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
  <input type="file" multiple name="file-1" class="input-file">
</span>
			</td>
          </tr>
          <tr>
            <th class="text-r">描述：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-4">
				<textarea class="input-text" name="user-info" id="user-info" style="height:150px;width:400px;"></textarea>
				</div>
			</td>
          </tr>
          <tr>
            <th width="100" class="text-r">工作流：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-4">
				<span class="select-box" style="width:160px">
  			<select class="select" size="1" name="demo1"style="border:0px solid red;width:150px">
    			<option value="" selected>不需要审核</option>
    			<option value="1">需要审核</option>
  			</select>
			</span>
				</div>
  			</select>
            </td>
          </tr>
           <tr>
            <th width="100" class="text-r"> 是否在导航显示：</th>
            <td>
				<div class="formControls col-xs-3 col-sm-4">
					<div class="mt-20 skin-minimal">
						<div class="radio-box">
							<input type="radio" id="radio-3" name="demo-radio2" checked>
							<label for="radio-3">是</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="radio-4" name="demo-radio2">
							<label for="radio-4">否</label>
						</div>
					</div>
				</div>
			</td>
          </tr>
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 提交</button></td>
          </tr>
        </tbody>
    				</table>
					</form>
				</div>
			</div>
			       
			 
		</div>
		<footer class="footer mt-20">
			<div class="container">
				<nav class="footer-nav">
					<a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于H-ui</a>
					<span class="pipe">|</span>
					<a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>
					<span class="pipe">|</span>
					<a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>
				</nav>
				<p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved. <br>
					<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15015336号-1</a>
					<br>
					未经允许，禁止转载、抄袭、镜像<br>
					用心做站，做不一样的站</p>
			</div>
		</footer>
	</div>
</div>
</section>

<!--_footer 作为公共模版分离出去-->
	{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    })
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});

/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*资讯-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*资讯-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*资讯-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>