<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />

	<!--/meta 作为公共模版分离出去-->
	{include file="public/header"}
	<!--/_header 作为公共模版分离出去-->

	<!--_menu 作为公共模版分离出去-->
	{include file="public/menu"}
	<!--/_menu 作为公共模版分离出去-->


	<section class="Hui-article-box">
		<nav class="breadcrumb">
			<div class="container">
				<i class="Hui-iconfont">&#xe67f;</i>
				<a href="/" class="c-primary">首页</a>
				<span class="c-gray en">&gt;</span>
				<a href="javascript:;" onClick="javascript:history.back(-1);">系统管理</a>
				<span class="c-gray en">&gt;</span>
				<span class="c-gray">栏目管理</span>
			</div>
		</nav>
		<div class="container ui-sortable">
			<h1>栏目管理</h1>
			<div class="panel panel-default">
				<div class="pd-20 text-c">
					<div class="text-c">
						<input name=""  placeholder="栏目名称、id" style="width:250px" class="input-text" type="text">
						<button name="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
					</div>
					<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont"></i> 批量删除</a> <a class="btn btn-primary radius" onclick="system_category_add('添加资讯','system-category-add.html')" href="column_add.html"><i class="Hui-iconfont"></i> 添加栏目</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
					<div class="mt-20">
						<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer" style="height: auto;overflow: hidden;"><div class="dataTables_length" id="DataTables_Table_0_length"><label>显示 <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="select"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> 条</label></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>从当前数据中检索:<input class="input-text " aria-controls="DataTables_Table_0" type="search"></label></div><table class="table table-border table-bordered table-hover table-bg table-sort dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
							<thead>
							<tr class="text-c" role="row"><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 25.2px;" aria-label="" width="25"><input name="" value="" type="checkbox"></th><th class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.2px;" aria-sort="descending" aria-label="ID: 升序排列" width="80">ID</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.2px;" aria-label="排序: 升序排列" width="80">排序</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 927.2px;" aria-label="栏目名称: 升序排列">栏目名称</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 100.2px;" aria-label="操作" width="100">操作</th></tr>
							</thead>
							<tbody>



							<tr class="text-c odd" role="row">
								<td><input name="" value="" type="checkbox"></td>
								<td class="sorting_1">3</td>
								<td>3</td>
								<td class="text-l">&nbsp;&nbsp;├&nbsp;二级栏目</td>
								<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','3','700','480')" style="text-decoration:none"><i class="Hui-iconfont"></i></a> <a title="删除" href="javascript:;" onclick="system-category_del(this,'3')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont"></i></a></td>
							</tr><tr class="text-c even" role="row">
								<td><input name="" value="" type="checkbox"></td>
								<td class="sorting_1">2</td>
								<td>2</td>
								<td class="text-l">&nbsp;&nbsp;├&nbsp;二级栏目</td>
								<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','2','700','480')" style="text-decoration:none"><i class="Hui-iconfont"></i></a> <a title="删除" href="javascript:;" onclick="article_category_del(this,'2')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont"></i></a></td>
							</tr><tr class="text-c odd" role="row">
								<td><input name="" value="" type="checkbox"></td>
								<td class="sorting_1">1</td>
								<td>1</td>
								<td class="text-l">一级栏目</td>
								<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('栏目编辑','system-category-add.html','1','700','480')" style="text-decoration:none"><i class="Hui-iconfont"></i></a> <a title="删除" href="javascript:;" onclick="article_category_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont"></i></a></td>
							</tr></tbody>
						</table><div class="dataTables_info" >显示 1 到 3 ，共 3 条</div>
							<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
								<a class="paginate_button previous disabled" >上一页</a>
								<span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
								<span><a class="paginate_button">2</a></span>
								<span><a class="paginate_button">3</a></span>
								<a class="paginate_button next disabled" >下一页</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!--_footer 作为公共模版分离出去-->
	{include file="public/footer"}

	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
            ]
        });
        /*图片-添加*/
        function picture_add(title,url){
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*图片-查看*/
        function picture_show(title,url,id){
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*图片-审核*/
        function picture_shenhe(obj,id){
            layer.confirm('审核文章？', {
                    btn: ['通过','不通过'],
                    shade: false
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg('已发布', {icon:6,time:1000});
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                    $(obj).remove();
                    layer.msg('未通过', {icon:5,time:1000});
                });
        }
        /*图片-下架*/
        function picture_stop(obj,id){
            layer.confirm('确认要下架吗？',function(index){
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                $(obj).remove();
                layer.msg('已下架!',{icon: 5,time:1000});
            });
        }

        /*图片-发布*/
        function picture_start(obj,id){
            layer.confirm('确认要发布吗？',function(index){
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布!',{icon: 6,time:1000});
            });
        }
        /*图片-申请上线*/
        function picture_shenqing(obj,id){
            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
            $(obj).parents("tr").find(".td-manage").html("");
            layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
        }
        /*图片-编辑*/
        function picture_edit(title,url,id){
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*图片-删除*/
        function picture_del(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        }
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
	</body>
</html>